.form-container {
  margin: 3rem 0;
}

form {
  text-align: center;
}

.btn,
.btn:disabled:hover {
  background-color: #009688;
  border-color: #009688;
  margin-left: 0.5rem;
}

.btn:hover {
  background-color: #00796b;
  border-color: #00796b;
}

.form-control:focus {
  border-color: #009688;
}

.no-tasks h5,
.no-tasks p {
  text-align: center;
  color: #ccc;
}