<div class="col-sm-3" *ngIf="!task.softDelete">
  <div class="card" (click)="statusToggle()" [class.completed]="task.completed">
    <div class="card-block">
      <p>{{task.content}}</p>
      <button class="soft-delete btn btn-danger" (click)="onSoftDelete($event)">
        <span class="sr-only">Close</span>
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="card-footer">
      <p *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i> Not complete</p>
      <p *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i> Complete</p>
    </div>
  </div>
</div>